*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #1f202b;

    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

/*--------------------GENERACIONES-----------------------*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

h1{
    color: #f8da67;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    gap: 50px;
}

li{
    color: #fff;
    border: 3px solid #c16b60;
}

.paginaGeneracion{
    background-color: #ff7f48;
    
}

button{
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 5px 25px;
}

.pokedex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;

    flex: 1;
    width: 90%;
    margin: 0 auto;

    margin-top: 20px;
}

/*----------------------POKEMON-------------------------------*/
.pokemon{
    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nombrePokemon{
    margin-bottom: 10px;
    text-align: center;
    color: grey;
    opacity: 0.7;

    transition: color 1s ease, transform 1s ease;
}

.contenedorImg{
    width: 120px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.8s ease, border-radius 0.8s ease , box-shadow 1s ease;
    transition-delay: 0.1s;
}

.imagenPokemon{
    width: 120px;
    height: 120px;

    transition: scale 1s ease;
    transition-delay: 0.1s;
}

/*---------------------TRANCISIONES-----------------------------*/


.pokemon:hover{
    background-color: #ff7f48;
    border: 10px solid #d17b56;
    border-radius: 15px;
}

.pokemon:hover .nombrePokemon{
    color: #fff;
    opacity: 1;

    transform: translateY(-10px);
}

.pokemon:hover .contenedorImg{
    transform: scale(1.1);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.pokemon:hover .imagenPokemon{
    scale: 0.7;
}



/*---------------------------RESPONSIVE--------------------*/


@media (max-width: 968px) {
    ul{
        flex-direction: column;
        align-self: center;

        gap: 10px;
        width: 70%;
    }
}